spring:
  application:
    name: services-oauth
  sleuth:
    sampler:
      probability: 1.0
  zipkin:
    base-url: http://localhost:9411/
    sender:
      type: rabbit
  config:
    import: "optional:configserver:"
    
server:
  port: 9100
  
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
